/* border-box box-sizing */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* main styles */
body {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #201E20;
  background-color: #DDC3A5;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  width: 6rem;
  height: 9rem;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
}

.card {
  width: 21.875rem;
  min-height: 12.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  border: 1px solid #201E20;
  border-radius: 0.5rem;
  background-color: #E0A96D;
  box-shadow: 0 0 10px;
}

.flex-item-1 {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item-2 {
  text-align: left;
  display: flex;
  align-items: center;
}

.change-read-status-button {
  margin-left: 0.5rem;
  background-color: #DDC3A5;
  border: 1px solid #201E20;
  border-radius: 0.5rem;
}

.change-read-status-button:hover {
  background-color: #d5b590;
}

.remove-book-button {
  background-color: #992600;
  color: #DDC3A5;
  border: 1px solid #201E20;
  border-radius: 0.5rem;
}

.remove-book-button:hover {
  background-color: #802000;
}

.form-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  flex-basis: 30rem;
  margin-top: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #E0A96D;
  border: 1px solid #201E20;
  border-radius: 0.5rem;
  font-weight: 700;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.new-book-button {
  height: 2rem;
  width: 7rem;
  margin-bottom: 1.25rem;
  background-color: #E0A96D;
  border: 1px solid #201E20;
  border-radius: 0.5rem;
}

.new-book-button:hover {
  background-color: #db9b57;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

footer p {
  margin: 0;
}

footer img {
  height: 1rem;
  width: 1rem;
  margin-top: .1875rem;
  opacity: 0.5;
}

footer img:hover {
  opacity: 1;
}
